* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #c8c4b8;
}

nav ul {
    display: flex;
    gap: 24px;
    list-style: none;
    justify-content: center;
    margin-top: 12px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500;
}

ul img {
    align-items: center;
    height: 40px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-family: "Bebas Neue", sans-serif;
    font-size: 23px;
   
}

.head img {
    width: 100%;
}

.imgs {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.pics img {
    width: 100%;
    height: 360px;
    display: flex;
    margin-top: 35px;

}

.imgs .pics h1 {
    text-align: center;
    font-size: 22px;
    position: relative;
    bottom: 20px;
    
}
.pics h3{
    text-align: center;
    font-size: 22px;
    position: relative;
    bottom: 20px;
    color: deeppink;
}

.second h1 {
    align-items: center;
    text-align: center;
    margin-top: 30px;
    font-size: 35px;
    color: rgb(34, 33, 33);
    font-family: "Bebas Neue", sans-serif;
}

.secondbannar img {
    width: 100%;
    height: 100%;
 
}

.headding h1 {
    display: flex;
    position: relative;
    gap: 24px;
    justify-content: center;
    margin-top: 90px;
    font-size: 80px;
    color: rgb(247, 247, 247);
    font-family: sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    gap: 22px;
    padding: 33px;
    background: beige;
}
.content {
    width: 40%;
}
h2 {
    font-size: 28px;
    padding: 18px 0;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}
p {
    font-size: 19px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}



.footer-column {
    flex: 1;
    margin-right: 20px;
}
.footer-nav {
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}
.footer-column li{
    list-style: none;
}
.footer-column ul li a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
}
.footer-column h4 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: "Bebas Neue", sans-serif;
}